body {
    background-color: #005F7A;
    font-family: Verdana, sans-serif;
  }
  
  
  h1 {
     color: #C49B3B;
     text-align:center; 
  }
  

  p {
     color: #FCF8FF;
  }
  
h3 {
    background:#C49B3B;
    color: #4A4453;
    text-align:center; 
}

